.Navbar
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-image: url(../assets/rottweiler-7564116_1280.webp) ;
    background-size:cover;
    background-position: 70% 30%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.tab-off
{
    display: none;
}
.tab-on
{
    display: flex;
}
.phone
{
    margin: 0;
    padding-right: 5px;
    height: 100%;
}
.Navbar-contact > p
{
    margin: 0;
    transition: 0.4s;
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
}

.Navbar-contact
{
    margin-top: 10px;
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 100px;
    height: 4vh;
}
.Navbar-links,
.Navbar-links-sticky
{
    display: flex;
    width: 60vw;
    height: 15vh;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.link-navbar
{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bolder;
     display: inline-block;
    transition: 0.4s;
}
.click::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    background-color:#ffc400;
    left: 0;
    bottom: -10%;
    border-radius: 25px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.click:hover::after
{
     transform: scaleX(1);
  transform-origin: bottom left;
}

.link-navbar > img
{
    height: 120px;
}

.sticky
{
    position: fixed;
}
.navbar-sticky
{
    z-index: 9999;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    visibility: visible;
    position: fixed;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(18.83deg, #96502b 50.21%, #69422d 100%)
}
.visible
{
    background-color: rgba(165, 42, 42, 0);
    visibility: hidden;
    position: absolute;
    top: -100%;
}